<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <siteMap enabled="true">
        <providers>
          <add name="UserSiteMap"
                  type="System.Web.XmlSiteMapProvider"  siteMapFile="User.sitemap"/>

          <add name="AdminSiteMap"
                  type="System.Web.XmlSiteMapProvider"
                  siteMapFile="Admin.sitemap"/>
        </providers>

      </siteMap>
    </system.web>
 <connectionStrings>
    <add name="SqlServerConString"  connectionString="Server=STEPHEN-PC\STEPHENKINSERPC;Initial Catalog=TimeTracker;Integrated Security=true;User Id=eti;password=etiPASS123"
            providerName="System.Data.SqlClient"/>
  </connectionStrings>


</configuration>
